Python 3.6.13 

Python Libs:
h5py                    3.1.0
tensorflow              2.5.0
tensorflow-estimator    2.5.0
tensorflow-hub          0.12.0
pickleshare             0.7.5
pandas                  1.1.5
numpy                   1.19.2
nltk                    3.6.2
Keras                   2.3.1
Keras-Applications      1.0.8
For Flask Deployment: 
Jinja2                  3.0.0
